:root { 
    --primary-title-color:#ffffff;
    --secondary-title-color:#212121;
    --primery-text-color:#757575;
    --accent-color:#2196F3;
    --color-btn:#F5F4FA;
    --color-footer:#2F303A;
    --adre-contacts:rgba(255, 255, 255, 0.6);
    }

    
.link {text-decoration: none;
 }

.list{
    list-style: none;
}

.header{
background-color: white;
}
    
.body { 
font-size: 14px;
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: var(--primary-title-color);
}


/*----------header---------*/

.header-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-title-color);
font-style: normal;
}

.header-contacts-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primery-text-color);
font-style: normal;
}
.header-contacts-link:hover,.header-link:hover,.current-link:hover,
.header-contacts-link:focus,.header-link:focus,.current-link:focus
{color:var(--accent-color);
}

.footer-contacts:hover,.footer-adres:hover,.header-list:hover,
.footer-contacts:focus,.footer-adres:focus,.header-list:focus{
color: var(--accent-color);
}

/*--------------------logo---------------------*/

.logo{
font-family:'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--accent-color);
}
.logo-web{ 
color:var(--secondary-title-color);
}
.logo-web-footer
{color:var(--primary-title-color);
}

/*--------------------------перша секція------------------------*/
.section-hero{
background-color: var(--color-footer);
}

.pre-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--primary-title-color);
}


/*----------------КНОПКА------------*/
.main-btn{
background-color: var(--accent-color);
font-size: 16px;
font-weight: 700;
line-height: 1.87;
color:var(--primary-title-color);
cursor: pointer;
font-family: inherit;
}




/*------------друга секція---------------------*/


/*-----якщо прибратицй клас, то зникне верхний регистр для списку----*/
.advantage-title{
}

.advantage-title-text{
font-weight: 700;
line-height: 1.14;
color: var(--secondary-title-color);
text-transform: uppercase;
}

.advantage-text{
font-weight: 400;
line-height: 1.71;
color:var(--primery-text-color);
}

/*третя секція*/
/*--------representation----------*/

.representation-team{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--secondary-title-color);
}

.team-name{
font-weight: 700;
font-size: 16px;
line-height: 1.9;
text-align: center;
color: var(--secondary-title-color);
}

.team-position{
font-weight: 400;
font-size: 16px;
line-height: 1.9;
text-align: center;
color: var(--primery-text-color);
}



/*-----footer---*/
.footer{
background-color:var(--color-footer);
}

.header-list-footer{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color:var(--adre-contacts);
font-style: normal;
}

.footer-adres {
color:var(--primary-title-color);
}

.footer-contacts{
color:var(--adre-contacts);
} 




/*----------навігація по портфоліо кнопки----------------*/
.portfolio-btn{
background-color: var(--color-btn);
font-size: 16px;
font-weight: 500;
line-height: 1.62;
color:var(--secondary-title-color) ;
cursor: pointer;
font-family: inherit;
 }
    
.portfolio-btn:hover,.current-btn
.portfolio-btn:focus,.current-btn {
background-color: var(--accent-color); 
color: var(--primary-title-color);
}

/*
{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--secondary-title-color);
}
*/
/*продукд*/

.product-name-list{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
}
.product-list{
font-weight: 500;
font-size: 16px;
line-height: 1.87;
color: var(--primery-text-color);
}
