:root { 
    --primary-title-color:#ffffff;
    --secondary-title-color:#212121;
    --primery-text-color:#757575;
    --accent-color:#2196F3;
    --color-btn:#F5F4FA;
    }

.link {text-decoration: none;
 }


.list{
    list-style: none;
}


.header{
background-color: white;
}


    
.body { 
    font-family: 'Roboto', 
    sans-serif;
    letter-spacing: 0.03em;
}



.header-link:hover,
.header-link:focus{
color:var(--accent-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus{
    color: var(--accent-color);
}

.header-list:hover,
.header-list:focus{
    color: var(--accent-color);
}
/*logo*/


.logo{
font-family:'Raleway', 
sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--secondary-title-color);
}
.logo-web{ 
color:var(--accent-color);
}


.header-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-title-color);
}


.header-contacts-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primery-text-color);
}

/*перша секція*/
.section-first{
background: #2F303A;
}

.pre-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--primary-title-color);
}

.main-btn{
background-color: var(--color-btn);
font-size: 16px;
font-weight: 700;
line-height: 1.87;
transition: 0.35s;
color:var(--secondary-title-color) ;
cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
background-color: var(--accent-color); 
color: var(--primary-title-color);
}

/*друга секція*/
.advantage-our-first{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
letter-spacing: 0.03em;
color:var(--secondary-title-color);
}
.advantage-our-sec{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--primery-text-color);
}

/*третя секція*/
/*.representation{*/}

.representation-team{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--secondary-title-color);
}

/*третя секція*/


.team-name{
font-weight: 700;
font-size: 16px;
line-height: 1.9;
text-align: center;
color: var(--secondary-title-color);
}

.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--primery-text-color);
    }

/*навігація по портфоліо кнопки*/
.portfolio-btn{
    background-color: var(--color-btn);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    color:var(--secondary-title-color) ;
    cursor: pointer;
    }
    
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color); 
    color: var(--primary-title-color);
    }

{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--secondary-title-color);
}
/*продукд*/

.product-name-list{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
}
.product-list{
font-weight: 500;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--primery-text-color);
}
